.accommodation__heading {
	font-family: 'Big John', sans-serif;
	color: #004c53;
	font-size: 42px;
	letter-spacing: 0.1em;
	margin-bottom: 0;
}

.accommodation__heading--small {
	font-family: 'Big John', sans-serif;
	color: #004c53;
	font-size: 18px;
	letter-spacing: 0.1em;
	margin-bottom: 0;
}

.accommodation__details {
	font-family: 'Champagne Limousines', sans-serif;
	color: #ffffff;
	font-size: 18px;
	margin-top: 0;
}

.accommodation__link {
	font-family: 'Champagne Limousines', sans-serif;
	color: #004c53;
	text-decoration: none;
	font-size: 16px;
	margin-top: 0;
	border-bottom: 2px dashed;
}

.accommodation__link:hover {
	border-bottom: 2px solid;
	cursor: pointer;
}
