.section__inner {
	display: grid;
	grid-template-columns: 2fr 2fr; 
	grid-gap: 100px 40px;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	padding: 50px 20px;
	
	@media (min-width: 42em) {
		width: 75%;
	}
}

.block {
	margin: 0;
	width: 100% !important;
	height: auto !important;
}

.block--left {
	grid-column: 1 / span 1;
}

.block--right {
	grid-column: 2 / span 2;
}

.photo__caption {
	@include headingFont(#ffffff, 24px);
	position: absolute;
	right: 5px;
	bottom: 5px;
}
