@font-face {
	font-family: 'Big John';
	src: url('fonts/big-john.woff2') format('woff2'),
		url('fonts/big-john.woff') format('woff'),
		url('fonts/big-john.ttf') format('truetype');
}

@font-face {
	font-family: 'Champagne Limousines';
 	src: url('fonts/Champagne-&-Limousines.woff2') format('woff2'),
 		url('fonts/Champagne-&-Limousines.woff') format('woff'),
 		url('fonts/Champagne-&-Limousines.ttf') format('truetype');
}

$heading-font: 'Big John', sans-serif;
$body-font: 'Champagne Limousines', sans-serif;

@mixin headingFont($color, $size) {
	font-family: $heading-font;
	color: $color;
	font-size: $size;
}

@mixin bodyFont($color, $size) {
	font-family: $body-font;
	color: $color;
	font-size: $size;
}
