.hide {
	display: none;
}

.rsvp__form {
	width: 100%;
}

.rsvp__fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

.rsvp__input {
	font-family: 'Champagne Limousines', sans-serif;
	width: 100%;
	max-width: 50%;
	border: 0;
	background: rgba(0, 0, 0, 0.3);
	color: #ffffff;
	font-size: 16px;
	padding: 0.5em 0.25em;
}

.rsvp__input--full {
	max-width: 100%;
}

.rsvp__input:focus {
	outline: 0;
}

.rsvp__input::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.rsvp__label {
	font-family: 'Big John', sans-serif;
	color: #ffffff;
	font-size: 14px;
	padding-right: 12px;
	padding-top: 1.5em;
}

.rsvp__label--small {
	font-family: 'Big John', sans-serif;
	color: #ffffff;
	font-size: 12px;
	padding-right: 12px;
	padding-top: 1.5em;
}

.rsvp__label--newline {
	display: block;
	padding-bottom: 0.25em;
}

.rsvp__radio {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
	background: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    top: 10px;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
}

.rsvp__radio:checked::before {
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 11px;
    top: 7px;
    content: '\02143';
    transform: rotate(40deg);
}

.rsvp__radio:checked,
.rsvp__radio:hover,
.rsvp__radio:focus {
	background: rgba(0, 0, 0, 0.4);
}

.rsvp__button {
	font-family: 'Big John', sans-serif;
	color: #004c53;
	font-size: 16px;
	background: #fcdee0;
	border: 0;
	padding: 0.5em 0.5em 0.25em;
	margin-top: 1em;
}

.rsvp__button:hover {
	cursor: pointer;
	background: #ffffff;
}
