@import 'animations';

.logo {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: 10px;
	left: 20px;
	@include headingFont($secondary-color, 60px);
	letter-spacing: 0.1em;
	width: 220px;
	line-height: 0.9;
	margin: 10px 0 40px;

	@media (min-width: 42em) {
		bottom: 30px;
		top: auto;
		right: 40px;
		left: auto;
		margin: 10px 0;
	}
}

.logo--quick {
	display: inline-block;
	animation: fade-in-right ease 0.8s forwards;
}

.logo--slow {
	display: inline-block;
	animation: fade-in-right ease 1.2s forwards;
}

.logo--contrast {
	display: inline-block;
	@include bodyFont($secondary-color, 150px);
	font-weight: 100;
	margin: -8px 0 0 100px;
	animation: fade-in-right ease 1.5s forwards;
}
