$primary-color: #fcdee0;
$secondary-color: #004c53;
$tertiary-color: #94a1a6;

@import 'fonts';
@import 'logo';
@import 'form';

body {
 	padding: 0;
	margin: 0;
 	overflow-x: hidden;
}

.section {
 	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}

.section--intro {
	@media (min-width: 46.25em) {
		flex-direction: row-reverse;
	}
}

.section--primary {
	background: $primary-color;
	
	.section__body {
		color: #005064;
	}
	
	.section__heading {
		color: #5f3e40;
	}
}

.section--secondary {
	background: $secondary-color;
}

.section--tertiary {
	background: $tertiary-color;

	.section__heading {
		color: $secondary-color;
	}
}

.section--centered {
	align-items: center;
	justify-content: center;

	.section__item {
		width: 90%;	
		@media (min-width: 46.25em) {
			width: 50%;
		}
	}

}

.section__item {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	padding: 0 20px;
	min-height: 240px;
	@media (min-width: 46.25em) {
		width: 50%;
		min-height: 240px;
	}
}

.section__heading {
	@include headingFont(#ffffff, 36px);
	letter-spacing: 0.1em;
	margin-bottom: 0;
	
	@media (min-width: 46.25em) {
		font-size: 42px;
	}
}


.section__heading--small {
	font-size: 18px;
}

.section__body {
	font-family: $body-font;
	color: #ffffff;
	font-size: 18px;
	margin-top: 0;
}

.section__link {
	font-family: $body-font;
	color: $secondary-color;
	text-decoration: none;
	font-size: 16px;
	margin-top: 0;
	border-bottom: 2px dashed;
}

.section__link:hover {
	border-bottom: 2px solid;
	cursor: pointer;
}

.visually-hidden {
	position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.details {
	padding: 30px;
	animation: fade-in 1s;
}

.details__heading {
	@include headingFont(#ffffff, 24px);
}

.navigation__link {
	@include headingFont(#ffffff, 24px);
	text-decoration: none;
	border-bottom: dashed 2px;
}

.navigation {
	padding: 0;
	list-style: none;
}

.navigation__item {
	padding-bottom: 10px;
}

.navigation__link:hover {
	color: $secondary-color;
	border-bottom: solid 2px;
}

.details__text {
	@include bodyFont(#ffffff, 20px);
	margin: 0;
}

.map__marker {
	text-transform: uppercase;
	@include headingFont($secondary-color, 16px);
	letter-spacing: 0.1em;
	text-shadow:
    -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
