$primary-color: #fcdee0;
$secondary-color: #004c53;

@import 'animations';
@import 'fonts';
@import 'form';


.named-marker {
	text-transform: uppercase;
	@include headingFont(#004c53, 16px);
	letter-spacing: 0.1em;
	text-shadow:
    -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}


.section {
 	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}

.section--intro,
.section--transport {
	background: $primary-color;
}

.section--rsvp {
	background: $secondary-color;
}

.section--centered {
	align-items: center;
	justify-content: center;
}

.section--accommodation {
	background: rgba(148, 161, 166, 1);
}

.section__heading {
	@include headingFont(#ffffff, 42px);
	letter-spacing: 0.1em;
	margin-bottom: 0;
}

.section__heading--intro {
	display: flexbox;
	color: $secondary-color;
	font-size: 60px;
	position: absolute;
	right: 40px;
	top: 10px;
	width: 220px;
	line-height: 0.9;
	flex-wrap: wrap;
	margin-top: 10px;
}

.section__heading--accommodation {
	color: $secondary-color;
}

.section__heading--transport {
	color: #5f3e40;
}

.section__heading--small {
	font-size: 18px;
}

.section__item {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	padding: 0 20px;
	min-height: 240px;
}

.section__details {
	font-family: $body-font;
	color: #ffffff;
	font-size: 18px;
	margin-top: 0;
}

.section__details--transport {
	color: #005064;
}

.section__link {
	font-family: $body-font;
	color: $secondary-color;
	text-decoration: none;
	font-size: 16px;
	margin-top: 0;
	border-bottom: 2px dashed;
}

.section__link:hover {
	border-bottom: 2px solid;
	cursor: pointer;
}






.visually-hidden {
	position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

body {
 	padding: 0;
	margin: 0;
 	overflow-x: hidden;
}


.centered {
	width: 80%;
}

@media (min-width: 46.25em) {
	.centered {
		width: 50%;
	}
}


.details {
	padding: 30px;
	animation: fade-in 1s;
}

.details__heading {
	@include headingFont(#ffffff, 24px);
}

.navigation__link {
	@include headingFont(#ffffff, 24px);
	text-decoration: none;
	border-bottom: dashed 2px;
}

.navigation {
	padding: 0;
	list-style: none;
}

.navigation__item {
	padding-bottom: 10px;
}

.navigation__link:hover {
	color: $secondary-color;
	border-bottom: solid 2px;
}

.details__text {
	@include bodyFont(#ffffff, 20px);
	margin: 0;
}

.section__heading--quick {
	display: inline-block;
	animation: fade-in-right ease 0.8s forwards;
}

.section__heading--slow {
	display: inline-block;
	animation: fade-in-right ease 1.2s forwards;
}

.section__heading--contrast {
	display: inline-block;
	@include bodyFont($secondary-color, 150px);
	font-weight: 100;
	margin-left: 100px;
	margin-top: -8px;
	animation: fade-in-right ease 1.5s forwards;
}

@media (min-width: 46.25em) {
	.section--intro {
		flex-direction: row-reverse;
	}
	
	.section__item {
		width: 50%;
		min-height: 240px;
	}

	.section__heading {
		bottom: 30px;
		top: auto;
	}
}
