@import 'animations';
@import 'fonts';
@import 'form';
@import 'accommodation';
@import 'transport';

.mapboxgl-canvas {
	top: 0;
	left: 0;
}

.visually-hidden {
	position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

body {
 	padding: 0;
	margin: 0;
 	overflow-x: hidden;
}

.intro,
.rsvp,
.accommodation,
.transport {
 	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}

.intro,
.transport {
	background: #fcdee0;
}

.rsvp {
	background: #004c53;
	align-items: center;
	justify-content: center;
}

.accommodation {
	background: rgba(148, 161, 166, 1);
	align-items: center;
	justify-content: center;
}

.transport {
	align-items: center;
	justify-content: center;
}

.centered {
	width: 80%;
}

@media (min-width: 46.25em) {
	.centered {
		width: 50%;
	}
}

.rsvp__heading {
	font-family: 'Big John', sans-serif;
	color: #ffffff;
	font-size: 42px;
	letter-spacing: 0.1em;
	margin-bottom: 0;
}

.rsvp__details {
	font-family: 'Champagne Limousines', sans-serif;
	color: #ffffff;
	font-size: 18px;
	margin-top: 0;
}

.intro__item {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	min-height: 240px;
}

.details {
	padding: 30px;
	animation: fade-in 1s;
}

.details__heading {
	font-family: 'Big John', sans-serif;
	color: #ffffff;
	font-size: 24px;
}

.details__link {
	font-family: 'Big John', sans-serif;
	color: #ffffff;
	font-size: 24px;
	text-decoration: none;
	border-bottom: dashed 2px;
}

.details__link:hover {
	color: #004c53;
	border-bottom: solid 2px;
}

.details__text {
	font-family: 'Champagne Limousines', sans-serif;
	color: #ffffff;
	font-size: 20px;
	margin: 0;
}

.intro__heading {
	display: flexbox;
	font-family: 'Big John', sans-serif;
	color: #004c53;
	font-size: 60px;
	position: absolute;
	right: 40px;
	top: 10px;
	width: 220px;
	line-height: 0.9;
	flex-wrap: wrap;
	margin-top: 10px;
}

.intro__heading--quick {
	display: inline-block;
	animation: fade-in-right ease 0.8s forwards;
}

.intro__heading--slow {
	display: inline-block;
	animation: fade-in-right ease 1.2s forwards;
}

.intro__heading--contrast {
	display: inline-block;
	font-size: 150px;
	font-family: 'Champagne Limousines', sans-serif;
	margin-left: 100px;
	margin-top: -8px;
	animation: fade-in-right ease 1.5s forwards;
}

@media (min-width: 46.25em) {
	.intro {
		flex-direction: row-reverse;
	}
	
	.intro__item {
		width: 50%;
		min-height: 240px;
	}

	.intro__heading {
		bottom: 30px;
		top: auto;
	}
}
