.transport__heading {
	font-family: $heading-font;
	color: #5f3e40;
	font-size: 42px;
	letter-spacing: 0.1em;
	margin-bottom: 0;
}

.transport__heading--small {
	font-family: $heading-font;
	color: #5f3e40;
	font-size: 18px;
	letter-spacing: 0.1em;
	margin-bottom: 0;
	padding-top: 0.5em;
}

.transport__link {
	font-family: $body-font;
	color: #004c53;
	text-decoration: none;
	font-size: 16px;
	margin-top: 0;
	border-bottom: 2px dashed;
}

.transport__link:hover {
	border-bottom: 2px solid;
	cursor: pointer;
}
