<div class="intro">
	<header class="intro__item">
	<h1 class="intro__heading">
		<span class="intro__heading--quick">Glynn</span>
		<span class="intro__heading--contrast">&</span>
		<span class="intro__heading--slow">Holly</span>
	</h1>
</header>
	<section class="intro__item details">
	<h2 class="details__heading">13th July 2019</h2>
	<h2 class="details__heading">Tresillian House, Cornwall, TR8 4PS <a class="details__link" href="#rsvp">Map</a></h2>
	<a class="details__link" href="#rsvp">RSVP</a>
</section>
</div>
